.panel {
    font-size: 13px;
    line-height: 1.5;
    background-color: #fffce9;
    border-radius: 4px;
    padding: 20px;
    margin: 15px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, .1);
}

.panel * {
    color: #413e4a;
}

.panel a {
    color: #b38184;
}

pre {
    background-color: #fffdf2;
}

.submit-button {
    background-color: #b38184;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #f7e4be;
}

.submit-button:hover {
    color: #fffce9;
}

.submit-button:focus {
    outline: none;
}

.base64-button {
    font-weight: normal;
}

.single-input-field, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f7e4be;
    border: 1px solid #b38184;
}

.single-input-field, textarea:focus {
    outline-color: #f0b49e;
}

::-webkit-input-placeholder {
    color: #b38184;
}

:-moz-placeholder {
    color: #b38184;
    opacity: 1;
}

::-moz-placeholder {
    color: #b38184;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #b38184;
}