.panel {
    font-size: 13px;
    line-height: 1.5;
    background-color: #f4fdf2;
    border: 8px solid #c0deb3;
    border-radius: 2px;
    padding: 20px;
    margin: 15px;
}

.panel * {
    color: #59727b;
}

.panel a {
    color: #637d5d;
}