#footer {
    padding: 40px 0;
    color: #637d5d;
    text-align: center;
    background-color: #cbe0bf;
}

#footer a {
    color: #59727b;
}

#footer p:last-child {
    margin-bottom: 0;
}

@media (min-width: 486px) {
    #masthead {
        position: fixed;
        background-color: rgba(123, 168, 170, 0.75);
    }

    #header img {
        margin-top: 40px;
    }
}

#notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #93babb;
    color: #e9fdff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0.9;
}

#notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 0.9;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 0.9;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 0.9;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 0.9;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}