<div id="login-form" class="container">
    <div class="panel">
        <h1>Logowanie</h1>
        <input name="loginField" class="single-input-field" ng-model="adminLoginCtrl.credentials.username" type="text"
               placeholder="Login" required>
        <input name="passwordField" class="single-input-field" ng-model="adminLoginCtrl.credentials.password"
               type="password" placeholder="Hasło" required>

        <input id="send-email-button" class="submit-button" type="submit" value="Zaloguj"
               ng-click="adminLoginCtrl.login($event)">
    </div>
</div>
