<div class="container">
    <div class="title-section panel">
        <div class="align-left">
            <input class="submit-button" type="submit" value="Ukryj/pokaż lewy panel"
                   ng-click="adminPostCtrl.showOrHideLeftPanel()">
        </div>
        <div class="align-center">
            <h3 style="text-align: center">POSTY</h3>
        </div>
    </div>
    <div class="admin-panels-container">
        <div class="panel left-panel" ng-hide="adminPostCtrl.leftPanelHidden">
            <input class="submit-button" type="submit" value="Dodaj"
                   ng-click="adminPostCtrl.setCreateModeOn()">

            <div class="post-headings-container">
                <div class="post-heading col-sm-6 fadein" ng-repeat="post in adminPostCtrl.postsList">
                    <a href="" ng-click="adminPostCtrl.setCurrentPost(post)" scroll-top-on-click>
                        <figure>
                            <img src="data:image/png;base64, {{post.image}}"/>
                            <figcaption>
                                <h2>{{post.title}}</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

        <div id="admin-posts-right-panel" class="panel right-panel">
            <h3 id="admin-categories-right-panel-label">{{adminPostCtrl.rightPanelLabel}}</h3>

            <div id="admin-posts-right-panel-advice" ng-show="!editFormVisible">
                <h3>Wybierz istniejący post lub dodaj nowy</h3>
            </div>

            <div ng-show="editFormVisible">
                <label for="admin-categories-base64-button" class="submit-button base64-button">
                    Wybierz obraz
                </label>
                <input id="admin-categories-base64-button" ng-show="false" ng-model="adminPostCtrl.imageFile"
                       on-after-validate="adminPostCtrl.changeImage" type="file" base-sixty-four-input>

                <figure>
                    <figcaption>Podgląd:</figcaption>
                    <img src="data:image/png;base64, {{adminPostCtrl.postObject.image}}"
                         ng-show="adminPostCtrl.postObject.image"/>
                </figure>

                <input name="postTitleField" class="single-input-field" ng-model="adminPostCtrl.postObject.title"
                       type="text" placeholder="Tytuł" required>

                <label for="category-select">Kategoria:</label>
                <select id="category-select" ng-model="adminPostCtrl.postObject.category"
                        ng-options="category.name for category in adminPostCtrl.categories track by category.id">
                </select>

                <text-angular ng-model="adminPostCtrl.postObject.body"></text-angular>

                <input class="submit-button" type="submit" value="{{adminPostCtrl.submitButtonValue}}"
                       ng-click="adminPostCtrl.submitChanges($event)">

                <input class="submit-button" type="submit" value="{{adminPostCtrl.deleteButtonValue}}"
                       ui-sref=".confirm({id:adminPostCtrl.postObject.id})" ng-hide="adminPostCtrl.isCreateModeOn">
            </div>

        </div>
    </div>
</div>