#email-content-field, #email-field, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f4fdf2;
    border: 1px solid #93babb;
}

#email-content-field, #email-field, textarea:focus {
    outline-color: #dbeef0;
}

::-webkit-input-placeholder {
    color: #93babb;
}

:-moz-placeholder {
    color: #93babb;
    opacity: 1;
}

::-moz-placeholder {
    color: #93babb;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #93babb;
}