#footer {
    padding: 40px 0;
    color: #73626e;
    text-align: center;
    background-color: #867980;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: #413e4a;
}

#footer p:last-child {
    margin-bottom: 0;
}