#footer {
    padding: 40px 0;
    color: #637d5d;
    text-align: center;
    background-color: #cbe0bf;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: #59727b;
}

#footer p:last-child {
    margin-bottom: 0;
}