#masthead {
    width: 100%;
    background-color: #836973;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    z-index: 100000;
}

#masthead .container {
    text-align: center;
}

.navigation-bar-item {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #f0b49e;
    margin: auto;
}

.navigation-bar-item:hover,
.navigation-bar-item:focus {
    color: #f7e4be;
    text-decoration: none;
}

.navigation-bar-item .active {
    color: #f7e4be;
}

#header {
    width: 100%;
    background: #b38184;
}

#header img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}