#sidebar {
    margin: 15px;
}

#sidebar h4 {
    color: #54694f;
}

#sidebar a {
    color: #59727b;
}

.sidebar-container {
    font-size: 13px;
    padding: 15px;
    margin: 0 -15px 40px;
    background-color: #dfedd8;
    border-radius: 4px;
    color: #637d5d;
    overflow: auto;
}

#author-img {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 8px solid #93babb;
}

.sidebar-container p:last-child,
.sidebar-container ul:last-child,
.sidebar-container ol:last-child {
    margin-bottom: 0;
}