<input class="single-input-field" ng-model="adminSettingsCtrl.passwordData.currentPassword"
       type="password" placeholder="Obecne hasło" required>

<input class="single-input-field" ng-model="adminSettingsCtrl.passwordData.newPassword"
       type="password" placeholder="Nowe hasło" required>

<input class="single-input-field" ng-model="adminSettingsCtrl.newPassword2"
       type="password" placeholder="Powtórz hasło" required>

<input class="submit-button" type="submit" value="{{adminSettingsCtrl.submitButtonValue}}"
       ng-click="adminSettingsCtrl.changePassword($event)">