<div id="masthead">
    <div class="container">
        <nav class="col-sm-8 navigation-bar">
            <a class="navigation-bar-item" ui-sref="blog.about" scroll-top-on-click>O BLOGU</a>
            <a class="navigation-bar-item" ui-sref="blog.author" scroll-top-on-click>O AUTORZE</a>
            <a class="navigation-bar-item" ui-sref="blog.categories" scroll-top-on-click>KATEGORIE</a>
            <a class="navigation-bar-item" ui-sref="blog.contact" scroll-top-on-click>KONTAKT</a>
        </nav>
    </div>
</div>