<div class="post-headings-container">
    <div class="post-heading col-sm-6">
        <a href="#">
            <figure>
                <img src="images/posts/pierwszy-post/heading.png"/>
                <figcaption>
                    <h2>Pierwszy post</h2>
                    <p>Cześć! To jest pierwszy post</p>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="post-heading col-sm-6">
        <a href="#">
            <figure>
                <img src="images/posts/drugi-post/heading.png"/>
                <figcaption>
                    <h2>Drugi post</h2>
                    <p>Cześć! To jest drugi post</p>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="post-heading col-sm-6">
        <a href="#">
            <figure>
                <img src="images/posts/pierwszy-post/heading.png"/>
                <figcaption>
                    <h2>Pierwszy post</h2>
                    <p>Cześć! To jest pierwszy post</p>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="post-heading col-sm-6">
        <a href="#">
            <figure>
                <img src="images/posts/drugi-post/heading.png"/>
                <figcaption>
                    <h2>Drugi post</h2>
                    <p>Cześć! To jest drugi post</p>
                </figcaption>
            </figure>
        </a>
    </div>
</div>