<div id="sidebar" class="col-sm-3 col-sm-offset-1">
    <h4>O AUTORZE</h4>
    <div class="sidebar-container">
        <a ui-sref="blog.author" scroll-top-on-click><img id="author-img" src="images/author.png"></a>
        <div ng-bind-html="sidebarCtrl.authorDescription"></div>

    </div>
    <h4>OSTATNIE POSTY</h4>
    <div class="sidebar-container">
        <ol class="list-unstyled">
            <li ng-repeat="post in sidebarCtrl.latest5Posts">
                <a href="{{sidebarCtrl.postUrlPrefix + post.titleUrl}}" scroll-top-on-click>{{post.title}}</a>
            </li>
        </ol>
    </div>
</div>