<div class="container">
    <div class="admin-panels-container">
        <div class="panel left-panel">
            <input class="submit-button" type="submit" value="Dodaj (jakoś ładnie go ustawić)" ng-click="">

            <div class="category-headings-container">
                <div class="category-heading col-sm-6 fadein" ng-repeat="category in categoryCtrl.categories">
                    <a href="{{categoryCtrl.postsByCategoryUrlPrefix + category.nameUrl}}" scroll-top-on-click>
                        <figure>
                            <img src="assets/img/categories/kategoria1.png"/>
                            <figcaption>
                                <h2>{{category.name}}</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel right-panel">
            Obrazek (podgląd i przycisk wyboru)
            <br>
            Nazwa
            <br>
            Przycisk usuwania (jeśli nie tworzymy nowej)
        </div>
    </div>
</div>