@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular.otf');
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("Montserrat-Bold.otf");
}

body {
    font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
    color: #555;
    background-color: #a9ae6c;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

@media (min-width: 1024px) {
    .container {
        width: 75vw;
    }
}

@media (min-width: 482px) {
    .navigation-bar {
        position: fixed;
        height: 40px;
    }

    .header img {
        margin-top: 40px;
    }
}

.navigation-bar {
    width: 100%;
    background-color: #98bdc6;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    z-index: 100000;
}

.navigation-bar .container {
    text-align: center;
}

.masthead {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
    margin: auto;
}

.masthead:hover,
.masthead:focus {
    color: #fff;
    text-decoration: none;
}

.navigation-bar .active {
    color: #fff;
}

.header {
    width: 100%;
    background: #d7eaf0;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    padding-top: 20px;
}

.main {
    font-size: 14px;
    line-height: 1.5;
    background-color: #e3e3c1;
    border: 8px solid #b5b987;
    padding: 20px;
    margin: 15px;
}

.main * {
    color: #59727b;
}

.main a {
    color: #a9ae6c;
}

.post {
    margin-bottom: 60px;
}

.post .post-title {
    margin-bottom: 5px;
    font-size: 36px;
}

.post-meta {
    margin-bottom: 20px;
    color: #bec291;
}

.sidebar {
    margin: 15px;
}

.sidebar h4 {
    color: #5e633d;
}

.sidebar a {
    color: #59727b;
}

.sidebar-container {
    font-size: 14px;
    padding: 15px;
    margin: 0 -15px 40px;
    background-color: #c7c99a;
    border-radius: 4px;
    color: #7d824d;
    overflow: auto;
}

#author-img {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 8px solid #b5b987;
}

.sidebar-container p:last-child,
.sidebar-container ul:last-child,
.sidebar-container ol:last-child {
    margin-bottom: 0;
}

.footer {
    padding: 40px 0;
    color: #7d824d;
    text-align: center;
    background-color: #c7c99a;
}

.footer a {
    color: #59727b;
}

.footer p:last-child {
    margin-bottom: 0;
}