@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("fonts/Montserrat-Bold.otf");
}

body {
    font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
    color: #555;
    background-color: #a4ca8c;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

.masthead {
    width: 100%;
    background-color: #93babb;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    z-index: 100000;
}

.masthead .container {
    text-align: center;
}

.navigation-bar-item {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #dbeef0;
    margin: auto;
}

.navigation-bar-item:hover,
.navigation-bar-item:focus {
    color: #fff;
    text-decoration: none;
}

.navigation-bar-item .active {
    color: #fff;
}

.header {
    width: 100%;
    background: #dbeef0;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    padding-top: 20px;
}

.main {
    font-size: 13px;
    line-height: 1.5;
    background-color: #f4fdf2;
    border: 8px solid #c0deb3;
    padding: 20px;
    margin: 15px;
}

.main * {
    color: #59727b;
}

.main a {
    color: #637d5d;
}

.post {
    margin-bottom: 60px;
}

.post .post-title {
    margin-bottom: 5px;
    font-size: 30px;
}

.post-meta {
    margin-bottom: 20px;
    color: #a4ca8c;
}

.sidebar {
    margin: 15px;
}

.sidebar h4 {
    color: #54694f;
}

.sidebar a {
    color: #59727b;
}

.sidebar-container {
    font-size: 13px;
    padding: 15px;
    margin: 0 -15px 40px;
    background-color: #dfedd8;
    border-radius: 4px;
    color: #637d5d;
    overflow: auto;
}

#author-img {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 8px solid #93babb;
}

.sidebar-container p:last-child,
.sidebar-container ul:last-child,
.sidebar-container ol:last-child {
    margin-bottom: 0;
}

.footer {
    padding: 40px 0;
    color: #637d5d;
    text-align: center;
    background-color: #cbe0bf;
}

.footer a {
    color: #59727b;
}

.footer p:last-child {
    margin-bottom: 0;
}

@media (min-width: 486px) {
    .masthead {
        position: fixed;
        background-color: rgba(123, 168, 170, 0.75);
    }

    .header img {
        margin-top: 40px;
    }
}