.admin-panels-container .panel a {
    color: #59727b;
}

#admin-author-sidebar-container {
    display: flex;
}

#admin-author-sidebar-desc {
    width: 100%;
}
#admin-author-sidebar-image {
    text-align: center;
    min-width: 20%;
    margin-left: 5px;
}

#admin-author-sidebar-desc textarea {
    min-height: 200px;
}