#admin-content {
    height: 65%;
}

.admin-panels-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.admin-panels-container .panel {
    width: 50%;
    resize: horizontal;
    margin-left: 7px;
    margin-right: 7px;
    flex: 1 1 auto;
    margin-top: 10px;
}

.left-panel {
    float: left;
    overflow: auto;
}

.right-panel {
    float: right;
}

.title-section {
    margin-top: 15px;
    margin-bottom: unset;
    padding: 5px;
    overflow: hidden;
}

.title-section .align-left {
    float: left;
    text-align:left;
    width:33.33333%;
}

.title-section .align-center {
    float: left;
    text-align:center;
    width:33.33333%;
}

.title-section h3, h4 {
    margin-bottom: unset;
}

div.title-section div.align-center * {
    text-align: center;
    color: #59727b;
    line-height: 150%;
}