#admin-header {
    width: 100%;
    background: #b38184;
}

#admin-header img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#admin-navibar {
    width: 100%;
    background-color: #867980;
    z-index: 100000;
    margin-top: 20px;
}

#admin-navibar .container {
    text-align: center;
}

#admin-navibar .navigation-bar-item {
    color: #413e4a;
}

#admin-navibar .navigation-bar-item:hover,
#admin-navibar .navigation-bar-item:focus {
    color: #f0b49e;
    text-decoration: none;
}

#admin-navibar .navigation-bar-item .active {
    color: #59727b;
}