<div id="admin-navibar">
    <div class="container">
        <nav class="navigation-bar">
            <a class="navigation-bar-item" ui-sref="admin.main.about" scroll-top-on-click>O BLOGU</a>
            <a class="navigation-bar-item" ui-sref="admin.main.home" scroll-top-on-click>O AUTORZE</a>
            <a class="navigation-bar-item" ui-sref="admin.main.home" scroll-top-on-click>KATEGORIE</a>
            <a class="navigation-bar-item" ui-sref="admin.main.home" scroll-top-on-click>POSTY</a>
            <a class="navigation-bar-item" ui-sref="admin.main.home" scroll-top-on-click>USTAWIENIA</a>
            <a class="navigation-bar-item" ui-sref="admin.main.home" scroll-top-on-click>WYLOGUJ</a>
        </nav>
    </div>
</div>