<div id="admin-navibar">
    <div class="container">
        <nav class="navigation-bar">
            <a class="navigation-bar-item" href="/admin/blog" scroll-top-on-click>O BLOGU</a>
            <a class="navigation-bar-item" href="/admin/autor/skrocony-opis" scroll-top-on-click>O AUTORZE</a>
            <a class="navigation-bar-item" href="/admin/kategorie" scroll-top-on-click>KATEGORIE</a>
            <a class="navigation-bar-item" href="/admin/posty" scroll-top-on-click>POSTY</a>
            <a class="navigation-bar-item" href="/admin/ustawienia" scroll-top-on-click>USTAWIENIA</a>
            <a class="navigation-bar-item" href ng-click="adminLoginCtrl.logout()" scroll-top-on-click>WYLOGUJ</a>
        </nav>
    </div>
</div>